// Education.scss
.dark-theme {
  .education-container {
    background-color: #0f0f0f;
    h2 {
      color: #d1d1d1;
    }

    .education-content {
      color: white;
      .education-item {
        background-color: rgba(32, 32, 32, 0.527);
        color: wheat;
        p {
          color: #ffffffee;
        }
      }
    }
  }
}
.education-container {
  border-bottom: 1px solid black;
  text-align: center;
  // margin-top: 50px;
  background-color: #fff;
  min-height: 100vh;
  padding: 20px;
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .education-content {
    display: flex;
    justify-content: space-around;

    .education-item {
      // min-width: 300px;
      background-color: #cecece;
      border-radius: 8px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      // width: 300px;
      // width: 45%;

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        font-size: 1em;

        margin: 0;
        color: #000000;
      }
    }
  }

  &.inView {
    animation: fadeIn 1s ease-out forwards; // Animation for fade-in
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 820px) {
  .education-container {
    .education-content {
      flex-direction: column;
      padding: 0;

      .education-item {
      }
      // width: 150vw;
    }
  }
}
